.card-content {
  width: 80%;
  margin: auto;
  margin-top: 10px;
}

.ant-card-head-title {
  text-align: center;
}

.select {
  margin-top: 200px;
  margin: auto;
}

.site-card-wrapper {
  background: #ececec;
  padding: 30px;
  margin: auto;
  width: 80%;
  padding: 5px;
}

.image-all {
  @media (max-width: 1000px) {
    height: 100px;
    display: none;
  }
  height: 150px;
}

.label-general-data {
  @media (max-width: 600px) {
    fontsize: 'small';
  }
  @media (min-width: 601px) {
    font-size: 24px;
  }
}

.card-label {
  @media (max-width: 600px) {
    font-size: 18px;
    padding: 5px;
    text-align: center;
  }
}

.ant-card-body {
  @media (max-width: 600px) {
    padding: 5px !important;
  }
  text-align: center;
}

.ant-card-head {
  @media (max-width: 600px) {
    padding: 5px !important;
  }
}

.ant-row {
  @media (min-width: 601px) {
    padding: 24px;
  }
}

.chart-confirmed-dead {
  margin-top: 20px;
}
